header {
  background-color: burlywood;
  width: 50%;
}

#shopContainer {
  background-color: brown;
  width: 50%;
}

body {
  width: 100vw;
  height: 100vh;
}

#cookieButton {
  max-width: 200px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
