header {
  /* background-color: burlywood; */
  width: 50%;
  text-align: center;
  margin-top: 30%;
}

h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
  margin-bottom: 10px;
}

#totalNumber {
  font-size: 50px;
  margin-top: 5px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

#cpsNumber {
  font-size: 30px;
  margin-top: 5px;
}

#shopContainer {
  background-color: brown;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.product {
  padding: 10px;
  background-color: aquamarine;
}

body {
  width: 100vw;
  height: 100vh;
}

#cookieButton {
  max-width: 300px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
