body {
  margin: 0;
  height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

header {
  /* background-color: burlywood; */
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 50px;
  margin-bottom: 10px;
}

#totalNumber {
  font-size: 50px;
  margin-top: 5px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

#cpsNumber {
  font-size: 30px;
  margin-top: 5px;
}

#shopContainer {
  background-color: #cfb889;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.product {
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 150px;
  padding: 10px;
  border-color: black;
  border-style: solid;
  border-radius: 20px;
  flex-basis: 150px;
  flex-grow: 1;
  transition: all 0.3s ease-in-out;
}

.product:hover {
  background-color: white;
}

#cookieButton {
  width: 300px;
  margin: 20px;
  transition: all 0.3s ease-in-out;
}

#cookieButton:hover {
  width: 320px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#reset {
  margin-top: 40px;
}
